  /* iPhone 6 Portrait */
@media only screen and (min-device-width: 320px)
  and (max-device-width: 767px) and (orientation: portrait) {

  .project .project-description {
      width: 50%;
      height: 30%;
      color: #fff;
      font-size: 1.1em;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      display: block;
  }

  .project img {
    -webkit-filter: brightness(50%);
    -webkit-transition:all 0.9s;
  }

  .child-image {
    height: 80px;
    width: 100%;
    object-fit: cover;
  }


  .fp-controlArrow.fp-next, .fp-controlArrow.fp-prev  {
    display: none;
  }

  .info-projet {
    padding: 2vh;
    text-align: center;
    position: absolute;
    background-color: #EAEAEA;
    top: 50px;
    left: 30px;
  }
  .info-projet .name {
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 0px 0px 4px;
  }
  .info-projet .separator {
    width: 135px;
    border: 1px solid #f4f4f4;
    box-shadow: 0 1px 0 gray;
  }
  .info-projet .description {
    padding: 5px;
    max-width: 120px;
  }

  /* Ajouter image ici */

  .oasis_1 {
    background: url("../img/portfolio/v_oasis_1.jpg") no-repeat center;
  }
  .oasis_2 {
    background: url("../img/portfolio/v_oasis_2.jpg") no-repeat center;
  }
  .oasis_3 {
    background: url("../img/portfolio/v_oasis_3.jpg") no-repeat center;
  }
  .oasis_4 {
    background: url("../img/portfolio/v_oasis_4.jpg") no-repeat center;
  }
  .oasis_5 {
    background: url("../img/portfolio/v_oasis_5.jpg") no-repeat center;
  }
  .oasis_6 {
    background: url("../img/portfolio/v_oasis_6.jpg") no-repeat center;
  }
  .oasis_7 {
    background: url("../img/portfolio/v_oasis_7.jpg") no-repeat center;
  }


  .bakingsoda_1 {
    background: url("../img/portfolio/v_bakingsoda_1.jpg") no-repeat center;
  }
  .bakingsoda_2 {
    background: url("../img/portfolio/v_bakingsoda_2.jpg") no-repeat center;
  }


  .vin_1 {
    background: url("../img/portfolio/v_vin_1.jpg") no-repeat center;
  }
  .vin_2 {
    background: url("../img/portfolio/v_vin_2.jpg") no-repeat center;
  }
  .vin_3 {
    background: url("../img/portfolio/v_vin_3.jpg") no-repeat center;
  }
  .vin_4 {
    background: url("../img/portfolio/v_vin_4.jpg") no-repeat center;
  }


  .pomme_1 {
    background: url("../img/portfolio/v_pomme_1.jpg") no-repeat center;
  }
  .pomme_2 {
    background: url("../img/portfolio/v_pomme_2.jpg") no-repeat center;
  }
  .pomme_3 {
    background: url("../img/portfolio/v_pomme_3.jpg") no-repeat center;
  }

  .chocolat_1 {
    background: url("../img/portfolio/v_chocolat_1.jpg") no-repeat center;
  }
  .chocolat_2 {
    background: url("../img/portfolio/v_chocolat_2.jpg") no-repeat center;
  }
  .chocolat_3 {
    background: url("../img/portfolio/v_chocolat_3.jpg") no-repeat center;
  }
  .chocolat_4 {
    background: url("../img/portfolio/v_chocolat_4.jpg") no-repeat center;
  }


  .eclate_1 {
    background: url("../img/portfolio/v_eclate_1.jpg") no-repeat center;
  }
  .eclate_2 {
    background: url("../img/portfolio/v_eclate_2.jpg") no-repeat center;
  }
  .eclate_3 {
    background: url("../img/portfolio/v_eclate_3.jpg") no-repeat center;
  }


  .sel_1 {
    background: url("../img/portfolio/v_sel_1.jpg") no-repeat center;
  }
  .sel_2 {
    background: url("../img/portfolio/v_sel_2.jpg") no-repeat center;
  }
  .sel_3 {
    background: url("../img/portfolio/v_sel_3.jpg") no-repeat center;
  }
  .sel_4 {
    background: url("../img/portfolio/v_sel_4.jpg") no-repeat center;
  }


  .noir_1 {
    background: url("../img/portfolio/v_noir_1.jpg") no-repeat center;
  }
  .noir_2 {
    background: url("../img/portfolio/v_noir_2.jpg") no-repeat center;
  }
  .noir_3 {
    background: url("../img/portfolio/v_noir_3.jpg") no-repeat center;
  }
  
  .dazibao_1 {
    background: url("../img/portfolio/v_dazibao_1.jpg") no-repeat center;
  }
  .dazibao_2 {
    background: url("../img/portfolio/v_dazibao_2.jpg") no-repeat center;
  }
  .dazibao_3 {
    background: url("../img/portfolio/v_dazibao_3.jpg") no-repeat center;
  }
  .dazibao_4 {
    background: url("../img/portfolio/v_dazibao_4.jpg") no-repeat center;
  }
  
  .thermos_1 {
    background: url("../img/portfolio/v_thermos_1.jpg") no-repeat center;
  }
  .thermos_2 {
    background: url("../img/portfolio/v_thermos_2.jpg") no-repeat center;
  }
  .thermos_3 {
    background: url("../img/portfolio/v_thermos_3.jpg") no-repeat center;
  }


}

/* iPhone 6 landscape */
@media only screen and (min-device-width: 320px)
  and (orientation: landscape) {

  .fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
    display: none;
  }

  .project .project-description {
    width: 50%;
    height: 30%;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }

  .project img {
    -webkit-filter: brightness(50%);
    -webkit-transition:all 0.9s;
  }

  .child-image {
    height: 80px;
    width: 100%;
    object-fit: cover;
  }

  .info-projet {
    padding: 2vh;
    text-align: center;
    position: absolute;
    background-color: #EAEAEA;
    top: 50px;
    left: 30px;
  }

  .info-projet .name {
    text-transform: uppercase;
    font-size: 12px;
  }

  .info-projet .separator {
    width: 135px;
    border: 1px solid #f4f4f4;
    box-shadow: 0 1px 0 gray;
  }

  .info-projet .description {
    padding: 5px;
    max-width: 120px;
  }

  /* Ajouter image ici */


  .oasis_1 {
    background: url("../img/portfolio/h_oasis_0.jpg") no-repeat center;
  }
  .oasis_2 {
    background: url("../img/portfolio/h_oasis_3.jpg") no-repeat center;
  }
  .oasis_3 {
    background: url("../img/portfolio/h_oasis_2.jpg") no-repeat center;
  }
  .oasis_4 {
    background: url("../img/portfolio/h_oasis_1.jpg") no-repeat center;
  }
  .oasis_5 {
    background: url("../img/portfolio/h_oasis_5.jpg") no-repeat center;
  }
  .oasis_6 {
    background: url("../img/portfolio/h_oasis_6.jpg") no-repeat center;
  }
  .oasis_7 {
    background: url("../img/portfolio/h_oasis_7.jpg") no-repeat center;
  }


  .bakingsoda_1 {
    background: url("../img/portfolio/h_bakingsoda_1.jpg") no-repeat center;
  }
  .bakingsoda_2 {
    background: url("../img/portfolio/h_bakingsoda_2.jpg") no-repeat center;
  }


  .vin_1 {
    background: url("../img/portfolio/h_vin_1.jpg") no-repeat center;
  }
  .vin_2 {
    background: url("../img/portfolio/h_vin_2.jpg") no-repeat center;
  }
  .vin_3 {
    background: url("../img/portfolio/h_vin_3.jpg") no-repeat center;
  }
  .vin_4 {
    background: url("../img/portfolio/h_vin_4.jpg") no-repeat center;
  }


  .pomme_1 {
    background: url("../img/portfolio/h_pomme_1.jpg") no-repeat center;
  }
  .pomme_2 {
    background: url("../img/portfolio/h_pomme_2.jpg") no-repeat center;
  }
  .pomme_3 {
    background: url("../img/portfolio/h_pomme_3.jpg") no-repeat center;
  }


  .chocolat_1 {
    background: url("../img/portfolio/h_chocolat_1.jpg") no-repeat center;
  }
  .chocolat_2 {
    background: url("../img/portfolio/h_chocolat_2.jpg") no-repeat center;
  }
  .chocolat_3 {
    background: url("../img/portfolio/h_chocolat_3.jpg") no-repeat center;
  }
  .chocolat_4 {
    background: url("../img/portfolio/h_chocolat_4.jpg") no-repeat center;
  }


  .eclate_1 {
    background: url("../img/portfolio/h_eclate_1.jpg") no-repeat center;
  }
  .eclate_2 {
    background: url("../img/portfolio/h_eclate_2.jpg") no-repeat center;
  }
  .eclate_3 {
    background: url("../img/portfolio/h_eclate_3.jpg") no-repeat center;
  }


  .sel_1 {
    background: url("../img/portfolio/h_sel_1.jpg") no-repeat center;
  }
  .sel_2 {
    background: url("../img/portfolio/h_sel_2.jpg") no-repeat center;
  }
  .sel_3 {
    background: url("../img/portfolio/h_sel_3.jpg") no-repeat center;
  }
  .sel_4 {
    background: url("../img/portfolio/h_sel_4.jpg") no-repeat center;
  }


  .noir_1 {
    background: url("../img/portfolio/h_noir_1.jpg") no-repeat center;
  }
  .noir_2 {
    background: url("../img/portfolio/h_noir_2.jpg") no-repeat center;
  }
  .noir_3 {
    background: url("../img/portfolio/h_noir_3.jpg") no-repeat center;
  }
  
  .dazibao_1 {
    background: url("../img/portfolio/h_dazibao_1.jpg") no-repeat center;
  }
  .dazibao_2 {
    background: url("../img/portfolio/h_dazibao_2.jpg") no-repeat center;
  }
  .dazibao_3 {
    background: url("../img/portfolio/h_dazibao_3.jpg") no-repeat center;
  }
  .dazibao_4 {
    background: url("../img/portfolio/h_dazibao_4.jpg") no-repeat center;
  }
  
  .thermos_1 {
    background: url("../img/portfolio/h_thermos_1.jpg") no-repeat center;
  }
  .thermos_2 {
    background: url("../img/portfolio/h_thermos_2.jpg") no-repeat center;
  }
  .thermos_3 {
    background: url("../img/portfolio/h_thermos_3.jpg") no-repeat center;
  }


}

@media only screen and (min-device-width: 1024px) {
  .fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
    display: block;
  }

  .project img{
    -webkit-filter: none;
    -webkit-transition:all 0.9s;
  }

  .project img :hover{
    -webkit-filter: brightness(50%);
    -webkit-transition:all 0.9s;
  }
}
